<button (click)="isNewUser = !isNewUser">TOGGLE ME</button>

<app-header></app-header>

<app-main [newUser]='isNewUser'></app-main>


<h1>{{ title }}</h1>

<h2>The date is: {{ today | date: 'hh:mm' }}</h2>

<h3>The Original price is: {{ price }}</h3>
<h3>The price is: {{ price | currency: 'ILS' }}</h3>
<h3>The price is: {{ price | percent }}</h3>
<h3>The price is: {{ price | number }}</h3>


<div *ngIf="isNewUser; else notNewUser">
    You Are A new user
</div>


<ng-template #notNewUser>
    Welcome back
    <ul>

        <li *ngFor="let animal of animals">
            {{animal}}
        </li>
    </ul>
</ng-template>

<ng-container *ngIf="isNewUser">
    <section class="pop">
        <header></header>
        <main></main>
        <footer></footer>
    </section>
</ng-container>


<input [(ngModel)]="title" type="text">
